{{ define "main" }}

{{ .Content }}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent .Site.Params.homeIntroImage }}
<div class="intro intro-flex">
    <div class="intro-content">
        {{ with .Site.Params.homeIntroTitle }}
        <h3>{{ . }}</h3>
        {{ end }}

        {{ with .Site.Params.homeIntroContent }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
        
        {{ with site.Params.social }}
        <div class="social-icons">
            {{- range . }}
            <a href="{{ trim .url " " | safeURL }}" target="_blank"
                rel="noopener noreferrer me"
                title="{{ (.title | default .name) | title }}">
                {{ partial "svg.html" . }}
            </a>
            {{- end }}
        </div>
        {{ end }}
    </div>
    
    {{ with .Site.Params.homeIntroImage }}
    <div class="intro-image">
        <img src="{{ . }}" alt="Profile image">
        <p class="intro-caption">Xinjiang, 2024</p>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if .Site.Params.homeCollection }}
<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h3>{{ . }}</h3>
    {{ end }}

    {{ $pages := where .Site.RegularPages "Section" .Site.Params.homeCollection }}
    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate $pages $paginationSize }}

    <div class="posts-list">
        {{ range $index, $page := $paginator.Pages }}
        {{ partial "post-entry.html" $page}}
        {{ end }}
    </div>

    {{ partial "pagination-controls.html" $paginator}}
</div>
{{ end }}

{{ end }}
