@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-LightItalic.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/Crimson_Text/CrimsonPro-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}